:root {
    --title-color: #ec5242;
    --main-background-color: #272a31;
    --main-text-color: #d3d3d3;
  }

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'poppins', sans-serif;
  }

  /* mobile-version home-page design */

.header-list-links {
    display: none;
}

.home-and-nav {
  background-image: url(./images/mobile_intro_bg.png);
  padding: 20px;
}

.logo {
    display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27px;
  height: 16px;
  cursor: pointer;
}

.bar {
  background-color: var(--main-background-color);
  height: 3px;
}

.mobile-menu.active .bar:nth-child(2) {
  opacity: 0;
  transition: 0.3s ease;
  background: blue;
}

.mobile-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background: var(--title-color);
  transition: 0.2s ease;
  height: 4px;
  z-index: 2;
}
  
.mobile-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background: var(--title-color);
  transition: 0.6s ease;
  height: 4px;
  z-index: 2;
}

.nav-list.active {
  left: 0;
}

.nav-list {
  list-style-type: none;
  left: -100rem;
  height: 100%;
  flex-direction: column;
  position: fixed;
  backdrop-filter: blur(8px);
  background: var(--main-text-color);
  width: 100%;
  transition: 0.5s ease;
  mix-blend-mode: multiply;
  padding-top: 100px;
  padding-left: 80px;
  top: 1;

}

.nav-list li {
  padding-top: 10px;
}

.nav-list a {
  text-decoration: none;
  color: var(--main-background-color);
  padding-top: 100px;
  font-size: 30px;
}
  
.nav_list li {
  padding: 40px 0 0 28px;
}

.home-section {
  padding-top: 70px;
}

.title .greetings {
  font-size: 20px;
  color: var(--title-color);
  padding-bottom: 10px;
}

.title .title-head {
  color: var(--title-color);
  font-size: 30px;
  font-weight:bolder;
  padding-bottom: 30px;
}

.intro-p {
  border: 4px solid #fff;
  background-color: rgb(247, 247, 248);
  line-height: 150%;
  word-break:break-all;
  text-align: justify;
  padding: 1em 0.5em;
  color: var(--main-background-color)
}

.period-location {
  color: var(--main-background-color);
  line-height: 16px;
  padding-bottom: 20px;
}

.period {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0;
  width: 90%;
  text-align: center;
}

.location {
  text-align: center;
  width: 90%;
  font-size: 15px;
}

/* main-program-section */

.main-program {
  background-image: url(images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  font-family: "Nanum Gothic";
  padding: 40px 0 80px 0;
  color: var(--main-text-color);
}

.sub-title {
  font-size: 24px;
  text-align: center;
  color: var(--main-text-color)
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

.line {
  width: 53px;
  height: 2.5px;
  background-color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;    
}

.program-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.program-list-items {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px 0;
  gap: 0.7em;
}

.program-list-icon {
  height: 3.5em;
}

.program-list-title {
  display: flex;
  align-items: center;
  color: var(--title-color);
}

.join-link-container {
  display: flex;
  justify-content: center;

}

.join-link {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: var(--title-color);
  width: 300px;
  height: 70px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

/* Feature speaker */

.speaker-section {
  padding: 40px 0 80px 0;
}

.speaker-image {
  width: 120px;
  height: 120px;
}

.for-black {
  color:var(--main-background-color);
}

.speakers-list  {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.speaker-list-items {
  display: flex;
  gap: 15px;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.speaker-name {
  font-size: 24px;
}

.speaker-position {
  color: var(--title-color);
  font-style: italic;
}

.speaker-position-def {
  text-align: justify;
  word-break: break-all;
  font-size: 14px;
  line-height: 24px;
}

.partner {
  padding-top: 50px;
  background-color: var(--main-background-color);
}

.partner-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-icon-image {
  align-self: center;
  padding-right: 20px;
  width: 110px;
}

.main-footer {
  background-color: var(--main-text-color);
  display: flex;
  gap: 20px;
  padding: 10px;
}

.footer-def {
display: flex;
flex-direction: column;
gap: 10px;
}

.footer-head {
  font-size: 20px;
}

@media all and (min-width: 768px) {
  
  .mobile-menu {
    display: none;
  }

  .logo {
    display: inline-block;
  }

  .my-logo {
    width: 80px;
    height: 100%;
  }

  .facebook-icon {
    width: 100%;
    height: 20px;
  }

  .twiter-icon {
    width: 100%;
    height: 20px;
  }

  .header-list-links {
    list-style-type: none;
    display: flex;
    background-color: var(--main-background-color);
    gap: 20px;
    justify-content: flex-end;
    padding: 5px 100px 5px 0;
  }

  .header-list-links button {
    background: none;
    border: none;
    color: var(--main-text-color);
    font-size: 15px;
  }

  .header-list-links a {
    text-decoration: none;
    color:var(--main-text-color);
  }

  .home-and-nav {
    padding: unset;
    background-image: url(./images/mobile_intro_bg.png);
  }

  .home-and-nav .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.3em 6em;
  }

  .main-nav .nav-list {
    margin: unset;
    padding: unset;
    top: unset;
    list-style-type: none;
    left: unset;
    height: unset;
    flex-direction: unset;
    position: unset;
    backdrop-filter: unset;
    background: unset;
    width: unset;
    transition: unset;
    mix-blend-mode: unset;
    display: flex;
    gap: 2em;
    align-items: center; 
  }

  .nav-list a {
    font-size: unset;
    padding: unset;
    margin: unset;
  }

  .final a {
    border: 2.3px solid var(--title-color);
    padding: 0.27em;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10em;
    padding-left: 10em;
    width: 60%;
  }

  .program-list-container {
    display: flex;
    justify-content: center;
  }

  .program-list {
    flex-direction: row;
    width: 80%;
    justify-content: center;
    
  }

  .program-list-items {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .speakers-list {
    display: grid;
    grid-template-columns: auto auto;
    padding: 2em 10em;
  }
  
  .partner-list-container {
    display: flex;
    justify-content: center;
  }

  .partner-list-container .partner-list {
    flex-direction: row;
    gap: 20px;
  }

  .partner-icon-image {
    width: 150px;
    height: 80px;
  }

  .main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-head {
    font-size: 20px;
  }
}